/* 修复 Chrome 浏览器输入框内选中字符行高异常的bug-s */
.el-input .el-input__inner {
    line-height: calc(var(--el-input-height, 40px) - 4px);
}
/* 修复 Chrome 浏览器输入框内选中字符行高异常的bug-e */

.datetime-picker {
    height: 32px;
    padding-top: 0;
    padding-bottom: 0;
}
.el-divider__text.is-center {
    transform: translateX(-50%) translateY(-62%);
}

.el-menu {
    user-select: none;
    .el-sub-menu__title:hover {
        background-color: var(--el-color-primary-light-9) !important;
    }
}

.el-table {
    --el-table-border-color: var(--ba-border-color);
}

.el-card {
    border: none;
}
.el-card__header {
    border-bottom: 1px solid var(--el-border-color-extra-light);
}
.el-textarea__inner {
    padding: 5px 11px;
}

/* dialog滚动条-s */
.el-overlay-dialog,
.ba-scroll-style {
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: #eaeaea;
        border-radius: var(--el-border-radius-base);
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    &:hover {
        &::-webkit-scrollbar-thumb:hover {
            background: #c8c9cc;
        }
    }
}
@supports not (selector(::-webkit-scrollbar)) {
    .el-overlay-dialog,
    .ba-scroll-style {
        scrollbar-width: thin;
        scrollbar-color: #c8c9cc #eaeaea;
    }
}
/* dialog滚动条-e */

/* 小屏设备 el-radio-group 样式优化-s */
.ba-input-item-radio {
    margin-bottom: 10px;
    .el-radio-group {
        .el-radio {
            margin-bottom: 8px;
        }
    }
}
/* 小屏设备 el-radio-group 样式调整-e */


/* TDesign Table */
.form-dimensions{
    margin-bottom: 0;
}
.t-table--bordered {
    --td-component-border: #f6f6f6;
}
.t-table {
    --td-text-color-placeholder: var(--el-text-color-primary);
    --td-text-color-primary: #444;

    svg.t-icon{
        font-size:12px;
        color:#bbb;
    }
    .t-table__filter-icon-wrap{
        margin-left: 3px;
    }
    .t-table__sort-icon--active{
        svg.t-icon{
            color: var(--el-color-primary-light-8);
        }
    }

    .t-table__footer{
        td{
            text-align: center;
        }
    }

    thead {
        th {
            font-weight: 700
        }

    }
    tr {
        --td-bg-color-secondarycontainer: var(--el-fill-color-lighter);
        --td-bg-color-secondarycontainer-hover: #f5f7fa;
        --td-bg-color-container-hover: #f5f7fa;
    }

    th, td {
        --td-comp-paddingTB-m: 8px;
    }

    .td-red {
        color: #fff;
        background: var(--td-error-color-5);
    }

    .td-green {
        color: #fff;
        background: var(--td-success-color-5);
    }

    .td-text-red {
        font-weight: bold;
        color: red;
    }

    .td-text-green {
        font-weight: bold;
        color: #02af66;
    }
}

